<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="975284e1-2ee7-4c20-a7e4-7cf350a8623d"
    Publisher="CN=yuki"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="975284e1-2ee7-4c20-a7e4-7cf350a8623d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>control_uwp</DisplayName>
    <PublisherDisplayName>yuki</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="control_uwp.App">
      <uap:VisualElements
        DisplayName="control_uwp"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="control_uwp"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="usb">
      <Device Id="vidpid:cafe 4031">
        <Function Type="classId:ff * *" />
        <!--<Function Type="name:vendorSpecific" />-->
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>